.bg-menu {
  background-color: darkslateblue;
}

.items {
  margin-right: 30px;
  font-size: 18px;
  font-weight: 500;
  color: white;
  cursor: pointer;
  padding: 5px;
  text-decoration: none;
}
.items:hover {
  color: #c9e265;
  text-decoration: underline;
  text-shadow: 10px;
}

.selected {
  color: #c9e265;
}

.login {
  border: 1px solid white;
  border-radius: 5px;
  padding: 5px;
}